.card {
    width: 18vw;
    height: 18vh;
    text-shadow: -4px 4px 5px rgba(0,0,0,0.59);
    padding: 0 0 5rem 0;
    border-radius: 0.4rem;
    flex-direction: column;
    align-items: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVQblRZc4Wa5EWK7Nb723LIV_KWpq0hZb9xXF8OR3liVdxzQmgYq5Fl33HI8iO6oefLjI&usqp=CAU);
    position: relative;
    cursor: pointer;
    display: flex;
    margin: 0.5rem;
}

.boton {
    border: rgb(2, 23, 26) 5px solid;
    border-radius: 20px;
    text-shadow: -4px 4px 5px rgba(0,0,0,0.59) ;
    background-color: rgb(3, 3, 3) 5px solid;
    cursor: pointer;
}

