.App {
   background-image: url(https://www.xtrafondos.com/wallpapers/resized/rick-3248.jpg?s=large);
   text-align: center;
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0;
   height: 100vh;
   padding: 25px;
}

